/* Full viewport height container to center the form */
body .login-form{
  background-color: #f5eedd;
}

.login-form {
  background-image: url('../assets/bldgnodado.jpeg');
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 89vh;
}

/* Form title style */
.login-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

/* Styling the form itself */
.login-form form {
  opacity: 95%;
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Form group for spacing */
.login-form .form-group {

  margin-bottom: 20px;
  padding-right: 30px;
}

/* Input fields styling */
.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  margin-top: 5px;
  transition: border-color 0.3s;
}

/* Input focus style */
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
  border-color: #74ebd5; /* Change this to your theme color */
  outline: none;
}

/* Error message styling */
.login-form .error {
  color: red;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
}

/* Button styling */
.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #71cd79;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.login-form button:hover {
  background-color: #52AB90; /* Darker shade on hover */
  transform: translateY(-2px);
}

/* Styling for the "no account" text */
.login-form .noacc {
  margin-top: 15px;
  text-align: center;
}

.login-form .noacc a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s;
}

.login-form .noacc a:hover {
  color: #0056b3; /* Darker shade on hover */
}


.log-options {
  margin-top: 15px;
  justify-content: space-between;
  display: flex;
}

.log-option {
  color: #007BFF;
  transition: color 0.3s;
}