.mod {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  background-color: #9fd4a3;
  transition: all 0.3s ease-in-out;
}

.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  flex: 0 0 300px; /* Initial size of the card */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;
  height: 300px;
  transition: all 0.3s ease;
}

.card.expanded {
  flex: 0 0 600px; /* Expanded size of the card */
  height: 400px;
}

.card.expanded .details {
  display: block;
}

.card .details {
  display: none; /* Hide details by default */
}

.card:hover {
  background-color: #52ab90;
  transform: translateY(-2px);
}

.card .card-image {
  max-width: 60%;
  height: auto;
  margin-bottom: 20px;
}

.card .cardtext {
  font-family: Arial, sans-serif;
  margin: 20px 0 0 0; /* Default margin for non-expanded cards */
  text-align: center;
  color: hsl(120, 31%, 75%);
  min-height: 50px;
  transition: margin 0.3s ease; /* Smooth transition when margin changes */
}

.card.expanded .cardtext {
  margin: 10px 0 0 0; /* Reduce margin when the card is expanded */
}

.details {
  margin-top: 20px;
  color: hsl(0, 0%, 40%);
  font-size: 14px;
}
